# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.coverage
.coverage.*
htmlcov/
.pytest_cache/
pytest-of-*/

# packaging
*.egg-info/
build/
dist/

# virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
